html, body, 
#map-canvas {
    height: 100%;
    margin:0;
    padding:0;
}

#map-canvas {
	width: 100%;
}

input, select, button, .modal, .well {
    border-radius: 0!important;
}

.report {
	position: absolute;
	top:0;
	right:0;
	width:100px;
	height:100px;
	text-align:right;
}