<form>

  <div class="form-group">
    <label for="exampleInputEmail1">Direccion</label>
    <input class="form-control" ng-model="reportForm.address" placeholder="Ej: Cordoba 1050">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Barrio / Zona</label>
    <input class="form-control" ng-model="reportForm.zone" placeholder="Ej: Echesortu">
  </div>


  <div class="form-group">
    <label for="exampleInputPassword1">Tamaño</label>
    <select class="form-control" ng-options="color.label for color in holeSizes" ng-model="reportForm.size"></select>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Foto</label>
    <input type="file">
    <p class="help-block">Max 2mb.</p>
  </div>

  <button class="btn btn-primary" ng-click="report()">Reportar</button>    
  <button class="btn btn-default" ng-click="reportGeo()">Reportar geo</button>

</form>